body {
	background-color: powderblue;
}
h1 {
color: blue;
}
#parrafo1{
	background-color: blue;
	color:pink;
}
#tabla1 {
	background-color: yellow;
	margin-left:5px;
	margin-right:5px;
	
}

div{
	
	float:left;
	margin-left:auto;
	
}

.secundario{
	
	margin-top:89px;
	margin-right:700px;
	display: flex;
  
}

.parrafo2{
	
	background-color:green;
	width:50%;
	
}
.parrafo2 ul {
	background-color:red;
	border:12px solid yellow
	
}
	
.parrafo3{
	
	background-color:red;
	margin-left:5px;
	margin-right:5px;
	padding-left:4px;
}

.primera{
	
	margin-top:190px;
	margin-right:650;
	width:372px;
}
.parrafo2 p{
	color:red;
}
.prueba1 {
	color:purple;
}
.prueba2 {
	color: green;
}